[submodule "unitree_mujoco"]
	path = unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco.git
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = https://github.com/kumarashish1neu/unitree_sdk2_python.git
